<!-- ヘッダーの内容変更 -->
<% provide(:header_content) do %>
    <div class="flex items-end gap-0 text-2xl opacity-75">
        <p>フィードバック</p>
    </div>
<% end %>
<div class="pt-10">
    <!-- コントローラー名を chat-feedback と定義 -->
    <div data-controller="chat-feedback" class ="flex flex-col max-w-xs landscape:max-w-3xl mx-auto">
        
        <div class="chat chat-start w-full max-w-xl mx-auto px-4 py-5 flex flex-col gap-4"> 
            
            <!-- 総評 -->
            <div data-chat-feedback-target="message" class="chat-bubble hidden bg-base-100 flex flex-col">
                <!-- 太字で強調 -->
                <p class="text-lg opacity-75">📄総評 :</p>
                <div class="ml-8">
                    <div class="border-l-2 border-base-content/20 flex flex-col gap-0.5 my-1">
                        <p class="pl-4"><%= @game.feedback["image_analysis"] %></p>
                    </div>
                </div>
            </div>            

            <!-- スペルミス指摘 -->
            <% if @game.feedback["spelling_errors"].present? %>
                <div data-chat-feedback-target="message" class="chat-bubble hidden bg-base-100"> 
                    <p class="text-lg opacity-75">✒️スペルミス :</p>
                    <% check = @game.feedback["spelling_errors"].uniq %>

                    <% check.each_with_index do |spelling_error, index| %>
                        <div class="flex flex-row">
                            <p class="ml-8 flex items-center text-lg opacity-15"><%= index + 1 %>. </p>
                            <div class="ml-4 flex flex-col">
                                <div class="my-3 flex flex-col">
                                    <p class="pt-1 text-base font-mono opacity-50 border-b border-base-content/10">
                                        ✕ <%= spelling_error["error"] %>
                                    </p>
                                    
                                    <p class="pt-1 text-base font-mono font-black text-success ">
                                        ◯ <%= spelling_error["correction"] %>
                                    </p>
                                </div>
                                <!-- uniq 後の配列の長さ（check.length）と比較して最後の要素か判定 -->
                                <p class="<%= index + 1 == check.length ? '' : 'border-b-2 border-base-content/20' %> "></p>
                            </div>
                        </div>
                    <% end %>
                    <!-- 薄い色で補足 -->
                    <p class="flex justify-end mt-2 text-xs text-base-content/25">※最大5つまで表示</p>
                </div>
            <% end %>


            <!-- 説明文比較 -->
            <div data-chat-feedback-target="message" class="chat-bubble hidden bg-base-100"> 
                <p class="text-lg opacity-75">🌷自然な言い回し :</p>           
                <% if @game.feedback["rewritten_text"].present? %>
                    <div class="ml-4 flex flex-col">
                        <!-- 上段：原文 -->
                        <p class="flex justify-start mt-2 text-xs text-base-content/50">あなたの説明 :</p>

                        <p class="ml-8 pt-1 pb-2 text-base font-mono opacity-50 border-b border-base-content/10">
                            <%= @game.feedback["original_text"] %>
                        </p>
                        
                        <!-- 下段：修正後 -->
                        <p class="flex justify-start mt-2 text-xs text-base-content/50">提案 :</p>
                        <p class="ml-8 pt-1 text-base font-mono font-black text-success">
                            <%= @game.feedback["rewritten_text"] %>
                        </p>
                    </div>
                    <p class="flex justify-end mt-2 text-xs text-base-content/25">
                        ※ゲーム内容からできる限りの要素を書き出した例文になります。<br>
                        ※例文を使って満点にすることはできません。
                    </p>
                <% else %>
                    <div class="ml-4 flex flex-col">
                        <p class="flex justify-start mt-2 text-sm">
                        すでに自然な言い回しで、提案の必要がありませんでした。<br>
                        素晴らしいです！</p>
                        <!-- 上段：原文 -->
                        <p class="flex justify-start mt-2 text-xs text-base-content/50">あなたの説明 :</p>

                        <p class="ml-8 pt-1 text-base font-mono font-black text-success">
                            <%= @game.feedback["original_text"] %>
                        </p>
                    </div>
                <% end %>

            </div>

            <!-- 関連フレーズ -->
            <div data-chat-feedback-target="message" class="chat-bubble hidden bg-base-100 flex flex-col">
                <p class="text-lg opacity-75">🎁関連フレーズ</p>
                <div class="ml-4">
                    <p class="text-lg">・<%= @game.feedback["bonus_phrase"]["phrase"] %></p>
                    <p class="ml-4 mt-2 mb-2 text-sm tracking-wide"><%= @game.feedback["bonus_phrase"]["meaning"] %></p>

                    <p class="ml-4 border-b-2 border-base-content/10"></p>
                    
                    <p class="mt-2">・<%= @game.feedback["bonus_phrase"]["example"] %></p>
                </div>
                <div class="ml-8">
                    <div class="border-l-2 border-base-content/20 flex flex-col gap-0.5 my-1">


                        <!-- 翻訳は説明言語と学習言語が同じ場合、非表示にすること -->
                        <p class="pl-4"><%= @game.feedback["bonus_phrase"]["example_translation"] %></p>
                    </div>
                </div>
            </div>

            <!-- まとめ -->
            <div data-chat-feedback-target="message" class="chat-bubble hidden bg-base-100 flex flex-col">
                <p class="text-lg opacity-75">🎗️まとめ</p>
                <div class="ml-8">
                    <div class="border-l-2 border-base-content/20 flex flex-col gap-0.5 my-1">
                        <p class="pl-4"><%= @game.feedback["next_step_advice"] %></p>
                    </div>
                </div>
                <p class="flex justify-end mt-2 text-xs text-base-content/25">
                    ※AIに判定基準を設定してますが、フィードバックと違う結果になる事があります。<br>
                    ※フィードバックは直接点数に影響しないですが、説明方法にお役立てください。
                </p>
            </div>

            <!-- 書き込み中表示 -->
            <div data-chat-feedback-target="message" class="chat-bubble whitespace-pre-wrap bg-base-100"><span class="loading loading-dots loading-sm"></span></div>
        </div>


        <div data-chat-feedback-target="button" class="hidden mb-20 flex justify-center gap-15 landscape:gap-25"> 
            <%=link_to "リトライ", new_game_path(image_url: @game.theme_image_url), method: :get, class: "btn btn-lg btn-neutral h-12 rounded-2xl" %>
            <%=button_to "やめる", root_path, method: :get, class: "btn btn-lg btn-neutral h-12 rounded-2xl" %>
        </div> 
    </div>
</div>


<!-- フッターの内容変更 -->
<% provide(:footer_content) do %>
    <!-- 空欄 -->
<% end %>