<!-- ヘッダーの内容変更 -->
<% provide(:header_content) do %>
    <%= button_to "＜", game_path(@game), 
              method: :delete, 
              class: "text-2xl font-bold bg-transparent border-none p-0 cursor-pointer inline-block" %>
<% end %>
<div class="bg-base-300 min-h-full flex flex-col pt-0">
    <div data-controller="collapsible-image" class="bg-base-200 p-4 flex flex-col landscape:m-0 landscape:hero">
        <div data-collapsible-image-target="wrapperGlobal"        
            class="relative w-full aspect-[800/600] overflow-hidden 
                landscape:hero-content landscape:flex landscape:flex-row landscape:gap-4">

            <div data-collapsible-image-target="wrapperA"
                data-action="click->collapsible-image#toggle"
                class="absolute top-0 left-0 h-full landscape:h-auto w-1/2 transition-all duration-500 ease-in-out
                    landscape:h-auto">

                <div class="w-full h-full landscape:h-auto">
                    <img
                        id="theme-image-imgtag"
                        src="<%= @game.theme_image_url %>"
                        alt="お題イメージ"
                        class="w-full h-full landscape:h-auto object-cover object-left rounded-4xl">
                </div>
            </div>
            
            <div data-collapsible-image-target="wrapperB"
                data-action="click->collapsible-image#toggle"
                class="absolute top-0 right-0 h-full landscape:h-auto w-1/2 transition-all duration-500 ease-in-out
                    landscape:h-auto">

                <!-- # 画像生成Job からの通信(WebSocket)をみる。画像生成でき次第差し替える -->
                <%= turbo_stream_from "generate_image_result" %>
                <div id="generated-image" class="w-full h-full landscape:h-auto">
                    <div class="w-full h-full landscape:h-auto object-cover object-right aspect-[800/600] bg-base-100 rounded-4xl"></div>
                </div>
            </div>
        </div>
        
        <%= turbo_stream_from "scoring_button_enable" %>
        <div id="scoring_button", class="flex justify-center m-5">
            <%=button_to "採点", '#', 
                method: :get, 
                class: "btn btn-lg btn-primary text-primary-content/25 w-70 h-12 rounded-2xl", 
                disabled: true, 
                data: { collapsible_image_target: "submitButton"} %>
        </div>
    </div>

    <!-- チャット欄 -->
    <div class="bg-base-300">
        <div class="w-full max-w-xl mx-auto px-4 py-8 flex flex-col gap-4">
            <div data-controller="auto-message" data-auto-message-url-value="<%= game_path(@game) %>">
                <%= turbo_stream_from "chat_messages_container_for_job" %>
                <div id="chat_messages_container">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- フッターの内容変更 -->
<% provide(:footer_content) do %>
    <div data-controller="keyboard-adjust">
        <div class="fixed bottom-0 left-0 right-0 bg-base-100 py-4 px-4 z-10">
            <div class="max-w-2xl mx-auto w-full pb-4">

                <%= form_with(model: @game, 
                            data: { 
                                controller: "chat-form", 
                                chat_form_limit_value: 1, 
                                action: "
                                        submit->chat-form#validateForm 
                                        keydown->chat-form#handleKeydown 
                                        turbo:submit-end->chat-form#clear
                                        " 
                            }) do |f| %>

                    <div class="flex gap-2 items-end">
                        <%= f.text_area :description, 
                            data: { chat_form_target: "textarea", 
                            action: "input->chat-form#resize"},
                            rows: 1,
                            class: "textarea textarea-bordered w-full resize-none py-2 min-h-[40px] h-[40px]", 
                            placeholder: "メッセージを入力..." %>

                        <%= f.submit "送信", data: { chat_form_target: "submitButton" }, class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
