<div class="pt-10">
  <div class="hero">
    <div class="hero-content flex-col items-center w-full">
      <div class="grid place-items-center text-center w-full">

        <div 
                  class="bg-primary w-70 h-16" 
                  style="
                    -webkit-mask-image: url('<%= asset_path("DT_title.png") %>');
                    mask-image: url('<%= asset_path("DT_title.png") %>');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                  "
                ></div>
        <p class="my-6">
          説明する練習が楽しく続く
        </p>
        <div class="text-xs mb-10 gap-1">
          <p>あなたの言葉で</p>
          <p>AIがお題のイメージを想像 </p>
          <p>正確に伝えられるかな？</p>
        </div>
        <div class="text-xm my-5">
          <p>「伝わらない」を「伝わる」の自信に。</p>
          <p>ステキな表現を探す旅へ。</p>
        </div>
        <div class="flex mt-10">
          <%=button_to "はじめる", new_game_path, method: :get, class: "btn btn-lg btn-primary w-70 h-12 rounded-2xl" %>
        </div>
      </div>

      <!-- 遊び方モーダルの内容 -->
      <div data-controller="splash-modal" >
        <dialog data-splash-modal-target="dialog" id="swipe_modal" class="modal" data-controller="swipe-modal">
          <div class="modal-box py-5 max-w-lg rounded-2xl overflow-hidden bg-base-100 flex flex-col items-center">
            <div class="text-3xl">遊び方</div>
            <div 
              class="carousel w-full snap-x snap-mandatory overflow-x-auto scroll-smooth"
              data-swipe-modal-target="carousel"
              data-action="scroll->swipe-modal#handleScroll"
            >
              <div id="slide1" class="carousel-item w-full flex-col">
                <%= render "shared/splash_modal/modal_01" %>
              </div>
              <div id="slide2" class="carousel-item w-full flex-col">
                <%= render "shared/splash_modal/modal_02" %>
              </div>
              <div id="slide3" class="carousel-item w-full flex-col">
                <%= render "shared/splash_modal/modal_03" %>
              </div>
            </div>
              
            <div class="flex gap-1.5 py-5">
              <span class="h-2.5 w-2.5 rounded-full" data-swipe-modal-target="dot"></span>
              <span class="h-2.5 w-2.5 rounded-full" data-swipe-modal-target="dot"></span>
              <span class="h-2.5 w-2.5 rounded-full" data-swipe-modal-target="dot"></span>
            </div>
                
            <button 
              class="btn btn-sm px-6 btn-primary w-70 h-12 rounded-2xl"
              data-swipe-modal-target="actionBtn"
              data-action="click->swipe-modal#nextOrClose"
            >
              つぎへ
            </button>
          </div>


          <!-- 背景をクリックしても閉じられるようにする設定（不要なら削除OK） -->
          <form method="dialog" class="modal-backdrop">
            <button>close</button>
          </form>
        </dialog>

      </div>
    </div>
  </div>
</div>
