<!DOCTYPE html>
<html data-theme="business"> <!-- ここに好きなテーマ名を指定 -->
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    

      <!-- 導入画面の内容 -->
      <div data-controller="splash" class="splash-overlay hidden">
        <div class="hero min-h-screen">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <%= image_tag "DT_logo.png", class: "mx-auto h-24 w-auto object-contain", alt: "ロゴ" %>
            </div>
          </div>
        </div>
      </div>

      <div class="app-content loading">
        <%# --- ヘッダーの呼び出し --- %>
        <%= render "shared/header" %> 
        <main class="m-0 p-0 overflow-x-hidden pb-16">
          <%= yield %>
        </main>
        <%# --- フッターの呼び出し --- %>
        <%= render "shared/footer" %> 
      </div>

    
  </body>
</html>
